In [14]:
import pandas as pd
import numpy as np

In [30]:
import pandas as pd

# Assuming the original data is in 'car_price.csv'
df = pd.read_csv("car_price.csv")

# Define the rows to be removed
row1 = {'Car Make': 'Tesla', 'Car Model': 'Roadster', 'Year': 2022, 'Engine Size (L)': 0, 'Horsepower': 10000, 'Torque (lb-ft)': 7376, '0-60 MPH Time (seconds)': 1.9, 'Price (in USD)': 200000}
row2 = {'Car Make': 'Tesla', 'Car Model': 'Roadster', 'Year': 2022, 'Engine Size (L)': '-', 'Horsepower': '1000+', 'Torque (lb-ft)': '-', '0-60 MPH Time (seconds)': 1.9, 'Price (in USD)': 200000}

# Remove the rows
df = df[~((df['Car Make'] == row1['Car Make']) &
          (df['Car Model'] == row1['Car Model']) &
          (df['Year'] == row1['Year']) &
          (df['Engine Size (L)'] == row1['Engine Size (L)']) &
          (df['Horsepower'] == row1['Horsepower']) &
          (df['Torque (lb-ft)'] == row1['Torque (lb-ft)']) &
          (df['0-60 MPH Time (seconds)'] == row1['0-60 MPH Time (seconds)']) &
          (df['Price (in USD)'] == row1['Price (in USD)'])
         )]

df = df[~((df['Car Make'] == row2['Car Make']) &
          (df['Car Model'] == row2['Car Model']) &
          (df['Year'] == row2['Year']) &
          (df['Engine Size (L)'] == row2['Engine Size (L)']) &
          (df['Horsepower'] == row2['Horsepower']) &
          (df['Torque (lb-ft)'] == row2['Torque (lb-ft)']) &
          (df['0-60 MPH Time (seconds)'] == row2['0-60 MPH Time (seconds)']) &
          (df['Price (in USD)'] == row2['Price (in USD)'])
         )]

# Save the updated data frame as 'car_price_updated.csv'
df.to_csv("car_price.csv", index=False)

In [20]:
def energy_filter(df,energy_type='all'):
    if energy_type=='all':
        return df
    if energy_type=='eletric':
        electric_cars_df = df[df['Engine Size (L)'].astype(str).str.contains('Electric')]
        return electric_cars_df
    if energy_type=='fuel':
        filtered_df=df[df['Engine Size (L)'].notnull() & df['Engine Size (L)'].apply(lambda x: isinstance(x, (int, float)))]
        return filtered_df

def filter_by_0_to_60(df, l, r):

    df['0-60 MPH Time (seconds)'] = pd.to_numeric(df['0-60 MPH Time (seconds)'], errors='coerce')

    filtered_df = df[(df['0-60 MPH Time (seconds)'] >= l) & (df['0-60 MPH Time (seconds)'] <= r)]
    
    return filtered_df  

def filter_by_model(df, model):

    filtered_df = df[df['Car Model'] == model]
    return filtered_df    
def get_data():
    path='car_price.csv'
    return pd.read_csv("car_price.csv").sort_values('0-60 MPH Time (seconds)')

In [21]:
df=get_data()
energy_type='all'
# energy_type='fuel'
# energy_type='eletric'
energy_filter(df,energy_type)

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
433,Rimac,C_Two,2021,Electric,1914,1732,1.80,"2,400,000"
26,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
815,Rimac,Nevera,2021,Electric,1914,1696,1.85,"2,400,000"
348,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
274,Rimac,C_Two,2022,Electric,1914,1732,1.85,"2,400,000"
...,...,...,...,...,...,...,...,...
897,Jaguar,F-Type,2021,3,296,295,5.40,"64,700"
811,Jaguar,F-Type,2022,2,296,295,5.40,"62,500"
367,Jaguar,F-Type,2022,3,296,295,5.40,"61,600"
699,Dodge,Challenger,2022,3.6,305,268,6.40,"28,000"
92,Mazda,MX-5 Miata,2021,2,181,151,6.50,"26,830"

In [23]:
filter_by_0_to_60(df, 0, 1.9)

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
433,Rimac,C_Two,2021,Electric,1914,1732,1.80,"2,400,000"
26,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
815,Rimac,Nevera,2021,Electric,1914,1696,1.85,"2,400,000"
348,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
274,Rimac,C_Two,2022,Electric,1914,1732,1.85,"2,400,000"
996,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000"
976,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
520,Rimac,C_Two,2022,Electric,1914,1696,1.90,"2,400,000"
99,Tesla,Roadster,2022,Electric,1000+,737,1.90,"200,000"
395,Tesla,Model S Plaid,2021,Electric (tri-motor),1020,1050,1.90,"141,190"
955,Tesla,Model S Plaid,2022,Electric,"1,020","1,050",1.90,"141,190"
978,Pininfarina,Battista,2021,Electric,1872,1696,1.90,"2,500,000"
360,Tesla,Roadster,2023,Electric,"1,000+",737,1.90,"200,000"
812,Tesla,Roadster,2022,Electric,1000,737,1.90,"200,000"
350,Tesla,Roadster,2022,Electric,1000+,"10,000+",1.90,"200,000"
503,Rimac,C_Two,2021,Electric,1914,1696,1.90,"2,400,000"
505,Tesla,Model S Plaid,2021,Electric,1020,1050,1.90,"141,990"
316,Tesla,Model S Plaid,2021,Electric,1020,1050,1.90,"131,100"
876,Tesla,Roadster,2022,0,"10,000","7,376",1.90,"200,000"
634,Rimac,Nevera,2021,Electric,1914,1696,1.90,"2,400,000"
331,Tesla,Roadster,2022,-,1000+,-,1.90,"200,000"
636,Tesla,Model S Plaid,2021,Electric,1020,NaN,1.90,"139,990"
276,Pininfarina,Battista,2022,Electric,1874,1696,1.90,"2,500,000"

In [24]:
filter_by_model(df, 'Mustang')

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
988,Ford,Mustang,2021,2.3,310,350,5.3,"27,205"