In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("car_price.csv")
df

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"
...,...,...,...,...,...,...,...,...
992,Koenigsegg,Jesko,2022,5,1280,1106,2.5,"3,000,000"
993,Lotus,Evija,2021,Electric Motor,1972,1254,2,"2,000,000"
994,McLaren,Senna,2021,4,789,590,2.7,"1,000,000"
995,Pagani,Huayra,2021,6,764,738,3,"2,600,000"
996,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000"

In [3]:
sorted_df = df.sort_values('0-60 MPH Time (seconds)')
sorted_df.head(10)

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
433,Rimac,C_Two,2021,Electric,1914,1732,1.8,"2,400,000"
996,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000"
815,Rimac,Nevera,2021,Electric,1914,1696,1.85,"2,400,000"
348,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
274,Rimac,C_Two,2022,Electric,1914,1732,1.85,"2,400,000"
26,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
976,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
634,Rimac,Nevera,2021,Electric,1914,1696,1.9,"2,400,000"
99,Tesla,Roadster,2022,Electric,1000+,737,1.9,"200,000"
276,Pininfarina,Battista,2022,Electric,1874,1696,1.9,"2,500,000"

In [4]:
def energy_filter(df,energy_type='all'):
    if energy_type=='all':
        return df
    if energy_type=='eletric':
        electric_cars_df = df[df['Engine Size (L)'].astype(str).str.contains('Electric')]
        return electric_cars_df
    if energy_type=='fuel':
        filtered_df=df[df['Engine Size (L)'].notnull() & df['Engine Size (L)'].apply(lambda x: isinstance(x, (int, float)))]
        return filtered_df

In [5]:
energy_type='all'
# energy_type='fuel'
# energy_type='eletric'
energy_filter(sorted_df,energy_type)

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
433,Rimac,C_Two,2021,Electric,1914,1732,1.8,"2,400,000"
996,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000"
815,Rimac,Nevera,2021,Electric,1914,1696,1.85,"2,400,000"
348,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
274,Rimac,C_Two,2022,Electric,1914,1732,1.85,"2,400,000"
...,...,...,...,...,...,...,...,...
68,Jaguar,F-Type,2022,2,296,295,5.4,"62,750"
693,Jaguar,F-Type,2022,2,296,295,5.4,"62,750"
699,Dodge,Challenger,2022,3.6,305,268,6.4,"28,000"
92,Mazda,MX-5 Miata,2021,2,181,151,6.5,"26,830"
360,Tesla,Roadster,2023,Electric,"1,000+",737,< 1.9,"200,000"

In [14]:
import pandas as pd
import numpy as np

def filter_by_0_to_60(df, l, r):
    """
    Filter the DataFrame based on the 0-60 MPH Time (seconds) column
    
    Parameters:
    - df: The input DataFrame
    - l: The lower bound of the 0-60 MPH Time (seconds) values
    - r: The upper bound of the 0-60 MPH Time (seconds) values
    
    Returns:
    A new DataFrame that includes only the rows with 0-60 MPH Time (seconds) values between l and r
    """

    df['0-60 MPH Time (seconds)'] = pd.to_numeric(df['0-60 MPH Time (seconds)'], errors='coerce')

    filtered_df = df[(df['0-60 MPH Time (seconds)'] >= l) & (df['0-60 MPH Time (seconds)'] <= r)]
    
    return filtered_df

In [15]:
filter_by_0_to_60(df, 0, 1.9)

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
26,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
99,Tesla,Roadster,2022,Electric,1000+,737,1.90,"200,000"
274,Rimac,C_Two,2022,Electric,1914,1732,1.85,"2,400,000"
276,Pininfarina,Battista,2022,Electric,1874,1696,1.90,"2,500,000"
316,Tesla,Model S Plaid,2021,Electric,1020,1050,1.90,"131,100"
331,Tesla,Roadster,2022,-,1000+,-,1.90,"200,000"
348,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
350,Tesla,Roadster,2022,Electric,1000+,"10,000+",1.90,"200,000"
395,Tesla,Model S Plaid,2021,Electric (tri-motor),1020,1050,1.90,"141,190"
433,Rimac,C_Two,2021,Electric,1914,1732,1.80,"2,400,000"
503,Rimac,C_Two,2021,Electric,1914,1696,1.90,"2,400,000"
505,Tesla,Model S Plaid,2021,Electric,1020,1050,1.90,"141,990"
520,Rimac,C_Two,2022,Electric,1914,1696,1.90,"2,400,000"
634,Rimac,Nevera,2021,Electric,1914,1696,1.90,"2,400,000"
636,Tesla,Model S Plaid,2021,Electric,1020,NaN,1.90,"139,990"
812,Tesla,Roadster,2022,Electric,1000,737,1.90,"200,000"
815,Rimac,Nevera,2021,Electric,1914,1696,1.85,"2,400,000"
876,Tesla,Roadster,2022,0,"10,000","7,376",1.90,"200,000"
955,Tesla,Model S Plaid,2022,Electric,"1,020","1,050",1.90,"141,190"
976,Rimac,Nevera,2022,Electric,1914,1696,1.85,"2,400,000"
978,Pininfarina,Battista,2021,Electric,1872,1696,1.90,"2,500,000"
996,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000"

In [16]:
import pandas as pd

def filter_by_model(df, model):
    """
    Filter the DataFrame based on the Car Model column
    
    Parameters:
    - df: The input DataFrame
    - model: The specific Car Model to filter
    
    Returns:
    A new DataFrame that includes only the rows with Car Model value equals to the specified model
    """
    filtered_df = df[df['Car Model'] == model]
    return filtered_df

In [18]:
filter_by_model(df, 'Mustang')

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
988,Ford,Mustang,2021,2.3,310,350,5.3,"27,205"